In [1]:
#Importing the Pandas Library
# Importing Pandas
import pandas as pd

In [2]:
#Checking Pandas Version
# Displaying Pandas version
print("Pandas Version:", pd.__version__)

Pandas Version: 2.2.2

In [6]:
#3. Loading Data into a Pandas DataFrame
#Reading a CSV File into a DataFrame
df=pd.read_csv(r"C:\Users\SHOBHA REDDY\Downloads\deliveries.csv\deliveries.csv")  # Loading dataset

In [7]:
df        # Displaying the DataFrame

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [8]:
# Exploring the DataFrame
#Displaying Data
df.head(100)    # Display first 100 rows

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,2,DJ Hussey,AA Noffke,BB McCullum,1,0,1,NaN,0,NaN,NaN,NaN
96,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,3,BB McCullum,AA Noffke,DJ Hussey,2,0,2,NaN,0,NaN,NaN,NaN
97,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,4,BB McCullum,AA Noffke,DJ Hussey,0,0,0,NaN,0,NaN,NaN,NaN
98,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,5,BB McCullum,AA Noffke,DJ Hussey,1,0,1,NaN,0,NaN,NaN,NaN
99,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,15,6,DJ Hussey,AA Noffke,BB McCullum,0,0,0,NaN,0,NaN,NaN,NaN

In [9]:
df.tail(100)          # Display last 100 rows

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
260820,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,13,1,PJ Cummins,CV Varun,H Klaasen,4,0,4,NaN,0,NaN,NaN,NaN
260821,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,13,2,PJ Cummins,CV Varun,H Klaasen,0,1,1,byes,0,NaN,NaN,NaN
260822,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,13,3,H Klaasen,CV Varun,PJ Cummins,0,0,0,NaN,0,NaN,NaN,NaN
260823,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,13,4,H Klaasen,CV Varun,PJ Cummins,2,0,2,NaN,0,NaN,NaN,NaN
260824,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,13,5,H Klaasen,CV Varun,PJ Cummins,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [10]:
#Checking DataFrame Information
#  Display column names, data types, and missing values
print("DataFrame Info:")
df.info()

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [11]:
#Summary Statistics
#Generate summary statistics for numerical columns
print("\nSummary Statistics:")
df.describe()

Summary Statistics:

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket
count,2.609200e+05,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000
mean,9.070665e+05,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632
std,3.679913e+05,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,5.483340e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,9.809670e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000
75%,1.254066e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000
max,1.426312e+06,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000

In [12]:
#Checking Data Types of Columns
df.dtypes               # Display data types of each column

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batter              object
bowler              object
non_striker         object
batsman_runs         int64
extra_runs           int64
total_runs           int64
extras_type         object
is_wicket            int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [13]:
#Selecting Specific Columns in a DataFrame
#Selecting a Single Column
#Selecting Columns:
#Use df['column'] to select data.
df['inning']       # Selecting the 'inning' column

0         1
1         1
2         1
3         1
4         1
         ..
260915    2
260916    2
260917    2
260918    2
260919    2
Name: inning, Length: 260920, dtype: int64

In [14]:
#Selecting Multiple Columns
#Use df[['col1', 'col2']] to select multiple columns.
df[['total_runs', 'fielder']]

        total_runs fielder
0                1     NaN
1                0     NaN
2                1     NaN
3                0     NaN
4                0     NaN
...            ...     ...
260915           1     NaN
260916           1     NaN
260917           1     NaN
260918           1     NaN
260919           1     NaN

[260920 rows x 2 columns]

In [15]:
#Selecting Multiple Columns for a Specific Row Range
#Selecting multiple columns for the rows from 260900 to 260919
df[['bowler', 'batter', 'batsman_runs']][260900:260919]

               bowler              batter  batsman_runs
260900     JD Unadkat  Rahmanullah Gurbaz             1
260901     JD Unadkat             VR Iyer             0
260902     JD Unadkat             VR Iyer             2
260903     JD Unadkat             VR Iyer             1
260904     JD Unadkat  Rahmanullah Gurbaz             4
260905  Shahbaz Ahmed             VR Iyer             2
260906  Shahbaz Ahmed             VR Iyer             0
260907  Shahbaz Ahmed  Rahmanullah Gurbaz             0
260908  Shahbaz Ahmed  Rahmanullah Gurbaz             6
260909  Shahbaz Ahmed  Rahmanullah Gurbaz             0
260910  Shahbaz Ahmed             SS Iyer             4
260911     AK Markram             VR Iyer             2
260912     AK Markram             VR Iyer             0
260913     AK Markram             VR Iyer             0
260914     AK Markram             VR Iyer             1
260915     AK Markram             SS Iyer             1
260916     AK Markram             VR Iyer             1
260917  Shahbaz Ahmed             VR Iyer             1
260918  Shahbaz Ahmed             SS Iyer             1

In [16]:
# Selecting 'bowler', 'batter', and 'batsman_runs' columns for every alternate row (step=2) within the positional index range from 260900 to 260919
df[['bowler', 'batter', 'batsman_runs']][260900:260919:2]

               bowler              batter  batsman_runs
260900     JD Unadkat  Rahmanullah Gurbaz             1
260902     JD Unadkat             VR Iyer             2
260904     JD Unadkat  Rahmanullah Gurbaz             4
260906  Shahbaz Ahmed             VR Iyer             0
260908  Shahbaz Ahmed  Rahmanullah Gurbaz             6
260910  Shahbaz Ahmed             SS Iyer             4
260912     AK Markram             VR Iyer             0
260914     AK Markram             VR Iyer             1
260916     AK Markram             VR Iyer             1
260918  Shahbaz Ahmed             SS Iyer             1

In [17]:
df[['bowler', 'batter', 'batsman_runs']][0:260919:200000]     # Selecting with a step of 200000

            bowler      batter  batsman_runs
0          P Kumar  SC Ganguly             0
200000  KA Pollard   AT Rayudu             1

In [18]:
#Filtering Rows in a DataFrame
#Filtering Rows Based on a Condition
df[df['batting_team'] == 'Sunrisers Hyderabad']    # Select only rows where batting_team is 'Sunrisers Hyderabad'

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
76859,598000,1,Sunrisers Hyderabad,Pune Warriors,0,1,PA Reddy,MN Samuels,PA Patel,1,0,1,NaN,0,NaN,NaN,NaN
76860,598000,1,Sunrisers Hyderabad,Pune Warriors,0,2,PA Patel,MN Samuels,PA Reddy,1,0,1,NaN,0,NaN,NaN,NaN
76861,598000,1,Sunrisers Hyderabad,Pune Warriors,0,3,PA Reddy,MN Samuels,PA Patel,0,1,1,wides,0,NaN,NaN,NaN
76862,598000,1,Sunrisers Hyderabad,Pune Warriors,0,4,PA Reddy,MN Samuels,PA Patel,0,0,0,NaN,0,NaN,NaN,NaN
76863,598000,1,Sunrisers Hyderabad,Pune Warriors,0,5,PA Reddy,MN Samuels,PA Patel,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260848,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,17,5,JD Unadkat,SP Narine,PJ Cummins,0,0,0,NaN,1,JD Unadkat,lbw,NaN
260849,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,17,6,B Kumar,SP Narine,PJ Cummins,0,0,0,NaN,0,NaN,NaN,NaN
260850,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,18,1,PJ Cummins,AD Russell,B Kumar,0,0,0,NaN,0,NaN,NaN,NaN
260851,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,18,2,PJ Cummins,AD Russell,B Kumar,0,0,0,NaN,0,NaN,NaN,NaN
260852,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,18,3,PJ Cummins,AD Russell,B Kumar,0,0,0,NaN,1,PJ Cummins,caught,MA Starc

In [19]:
#Filtering Rows to Exclude Specific Teams
#Filtering Rows:
df[~df["batting_team"].isin(["Sunrisers Hyderabad", "Kolkata Knight Riders", "Royal Challengers Bangalore"])]
#This will return a DataFrame excluding rows where the batting_team is Sunrisers Hyderabad or Kolkata Knight Riders or Royal Challengers Bangalore.

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
225,335983,1,Chennai Super Kings,Kings XI Punjab,0,1,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
226,335983,1,Chennai Super Kings,Kings XI Punjab,0,2,PA Patel,B Lee,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
227,335983,1,Chennai Super Kings,Kings XI Punjab,0,3,PA Patel,B Lee,ML Hayden,1,0,1,NaN,0,NaN,NaN,NaN
228,335983,1,Chennai Super Kings,Kings XI Punjab,0,4,ML Hayden,B Lee,PA Patel,0,0,0,NaN,0,NaN,NaN,NaN
229,335983,1,Chennai Super Kings,Kings XI Punjab,0,5,ML Hayden,B Lee,PA Patel,4,0,4,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260731,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,19,2,Dhruv Jurel,T Natarajan,TA Boult,4,0,4,NaN,0,NaN,NaN,NaN
260732,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,19,3,Dhruv Jurel,T Natarajan,TA Boult,0,0,0,NaN,0,NaN,NaN,NaN
260733,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,19,4,Dhruv Jurel,T Natarajan,TA Boult,0,0,0,NaN,0,NaN,NaN,NaN
260734,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,19,5,Dhruv Jurel,T Natarajan,TA Boult,0,0,0,NaN,0,NaN,NaN,NaN
260735,1426311,2,Rajasthan Royals,Sunrisers Hyderabad,19,6,Dhruv Jurel,T Natarajan,TA Boult,1,0,1,NaN,0,NaN,NaN,NaN

In [20]:
#Filtering Rows Where 'match_id' is Greater Than a Certain Value
df[df['match_id'] > 450000]
# Filtering the DataFrame to include only rows where 'match_id' is greater than 450000

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
41593,501198,1,Chennai Super Kings,Kolkata Knight Riders,0,1,S Anirudha,Iqbal Abdulla,M Vijay,0,0,0,NaN,0,NaN,NaN,NaN
41594,501198,1,Chennai Super Kings,Kolkata Knight Riders,0,2,S Anirudha,Iqbal Abdulla,M Vijay,1,0,1,NaN,0,NaN,NaN,NaN
41595,501198,1,Chennai Super Kings,Kolkata Knight Riders,0,3,M Vijay,Iqbal Abdulla,S Anirudha,0,0,0,NaN,0,NaN,NaN,NaN
41596,501198,1,Chennai Super Kings,Kolkata Knight Riders,0,4,M Vijay,Iqbal Abdulla,S Anirudha,0,0,0,NaN,0,NaN,NaN,NaN
41597,501198,1,Chennai Super Kings,Kolkata Knight Riders,0,5,M Vijay,Iqbal Abdulla,S Anirudha,4,0,4,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [21]:
#Counting Values in a DataFrame
#Counting Occurrences of a Specific Value in a Column
df[df['batter'] == "SS Iyer"].shape[0]
# Count the number of times "SS Iyer" appears in the 'batter' column

2545

In [22]:
df['batter'].value_counts().get("SS Iyer", 0)
# Count the number of times "SS Iyer" appears in the 'batter' column

2545

In [23]:
#Handling Missing Values
#Checking for Missing Values
# Check for missing values
print("\nMissing Values:")
df.isnull().sum()

Missing Values:

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batter                   0
bowler                   0
non_striker              0
batsman_runs             0
extra_runs               0
total_runs               0
extras_type         246795
is_wicket                0
player_dismissed    247970
dismissal_kind      247970
fielder             251566
dtype: int64

In [24]:
#Detecting Missing Values in the DataFrame
# Returns a boolean DataFrame indicating missing values
df.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
260916,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
260917,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
260918,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True
260919,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,True

In [25]:
#Removing Rows with Missing Values
df.dropna()
#Remove rows with missing values

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
6670,336010,1,Kolkata Knight Riders,Royal Challengers Bangalore,8,6,DJ Hussey,A Kumble,T Taibu,0,1,1,legbyes,1,DJ Hussey,run out,DW Steyn
9022,336020,1,Delhi Daredevils,Deccan Chargers,15,2,G Gambhir,PP Ojha,S Dhawan,0,1,1,wides,1,G Gambhir,stumped,AC Gilchrist
21707,392217,2,Chennai Super Kings,Rajasthan Royals,16,6,ML Hayden,SK Warne,S Badrinath,0,1,1,wides,1,ML Hayden,stumped,NV Ojha
21927,392218,2,Royal Challengers Bangalore,Mumbai Indians,13,2,RE van der Merwe,Harbhajan Singh,MV Boucher,0,1,1,wides,1,RE van der Merwe,stumped,YV Takawale
22808,392222,1,Kings XI Punjab,Mumbai Indians,17,6,K Goel,SL Malinga,PP Chawla,0,1,1,wides,1,PP Chawla,run out,YV Takawale
24387,392228,2,Deccan Chargers,Kolkata Knight Riders,17,1,A Symonds,Mashrafe Mortaza,RG Sharma,0,1,1,noballs,1,A Symonds,run out,Mashrafe Mortaza
29246,419114,2,Delhi Daredevils,Mumbai Indians,8,5,KD Karthik,Harbhajan Singh,MF Maharoof,0,1,1,wides,1,KD Karthik,stumped,AP Tare
38560,419153,1,Kolkata Knight Riders,Chennai Super Kings,4,1,DJ Hussey,R Ashwin,MK Tiwary,0,1,1,wides,1,DJ Hussey,stumped,MS Dhoni
40074,419159,2,Chennai Super Kings,Kings XI Punjab,4,1,M Vijay,RR Powar,SK Raina,0,1,1,wides,1,M Vijay,stumped,KC Sangakkara
40814,419162,2,Royal Challengers Bangalore,Mumbai Indians,6,2,KP Pietersen,Harbhajan Singh,R Dravid,0,1,1,wides,1,KP Pietersen,stumped,AT Rayudu
42421,501201,1,Delhi Daredevils,Mumbai Indians,16,4,UT Yadav,Harbhajan Singh,RE van der Merwe,0,1,1,wides,1,UT Yadav,stumped,DJ Jacobs
46496,501219,2,Kolkata Knight Riders,Kochi Tuskers Kerala,16,6,MK Tiwary,RA Jadeja,R Bhatia,0,1,1,wides,1,MK Tiwary,stumped,PA Patel
54075,501251,2,Mumbai Indians,Kings XI Punjab,3,6,RG Sharma,Bipul Sharma,AC Blizzard,0,1,1,wides,1,RG Sharma,stumped,AC Gilchrist
74829,548375,2,Pune Warriors,Kolkata Knight Riders,7,5,MJ Clarke,YK Pathan,JD Ryder,0,1,1,wides,1,MJ Clarke,stumped,BB McCullum
79791,598012,1,Royal Challengers Bangalore,Chennai Super Kings,8,5,MA Agarwal,R Ashwin,V Kohli,0,1,1,wides,1,MA Agarwal,stumped,MS Dhoni
99050,729315,3,Kolkata Knight Riders,Rajasthan Royals,0,1,SA Yadav,JP Faulkner,Shakib Al Hasan,0,1,1,legbyes,1,SA Yadav,run out,SV Samson
100461,733979,2,Kolkata Knight Riders,Rajasthan Royals,15,1,MK Pandey,PV Tambe,Shakib Al Hasan,0,1,1,wides,1,MK Pandey,stumped,SV Samson
101590,733989,1,Sunrisers Hyderabad,Rajasthan Royals,19,3,IK Pathan,JP Faulkner,DW Steyn,0,1,1,wides,1,DW Steyn,run out,SV Samson
102297,733995,2,Chennai Super Kings,Mumbai Indians,7,7,SK Raina,KA Pollard,DR Smith,0,1,1,wides,1,SK Raina,stumped,CM Gautam
106634,734031,1,Mumbai Indians,Delhi Daredevils,19,4,JJ Bumrah,WD Parnell,S Gopal,0,1,1,wides,1,S Gopal,run out,KD Karthik
109324,829707,2,Delhi Daredevils,Chennai Super Kings,18,5,A Mishra,A Nehra,JA Morkel,0,1,1,wides,1,A Mishra,run out,MS Dhoni
109961,829713,1,Kolkata Knight Riders,Royal Challengers Bangalore,19,6,Shakib Al Hasan,VR Aaron,AD Russell,0,1,1,wides,1,Shakib Al Hasan,run out,KD Karthik
115702,829763,1,Royal Challengers Bangalore,Rajasthan Royals,16,3,SN Khan,SR Watson,KD Karthik,1,1,2,noballs,1,KD Karthik,run out,TG Southee
116439,829769,2,Rajasthan Royals,Mumbai Indians,19,5,STR Binny,R Vinay Kumar,TG Southee,1,1,2,noballs,1,TG Southee,run out,KA Pollard
117053,829775,2,Kings XI Punjab,Mumbai Indians,18,5,WP Saha,SL Malinga,GJ Bailey,0,1,1,wides,1,GJ Bailey,run out,PA Patel
120237,829803,1,Kings XI Punjab,Royal Challengers Bangalore,5,5,DA Miller,YS Chahal,GJ Bailey,0,1,1,wides,1,DA Miller,stumped,KD Karthik
122130,829821,1,Royal Challengers Bangalore,Chennai Super Kings,19,4,HV Patel,DJ Bravo,SN Khan,0,1,1,wides,1,HV Patel,run out,MS Dhoni
124384,980917,1,Mumbai Indians,Gujarat Lions,8,6,JC Buttler,SB Jakati,PA Patel,0,1,1,wides,1,JC Buttler,stumped,KD Karthik
130652,980969,1,Rising Pune Supergiants,Royal Challengers Bangalore,14,2,SS Tiwary,YS Chahal,AM Rahane,0,1,1,wides,1,SS Tiwary,stumped,KL Rahul
133061,980989,2,Kolkata Knight Riders,Rising Pune Supergiants,0,2,RV Uthappa,R Ashwin,G Gambhir,0,1,1,wides,1,RV Uthappa,stumped,MS Dhoni
136969,1082592,1,Mumbai Indians,Rising Pune Supergiant,19,6,HH Pandya,AB Dinda,TG Southee,0,1,1,wides,1,TG Southee,run out,MS Dhoni
142909,1082617,1,Kolkata Knight Riders,Royal Challengers Bangalore,9,2,YK Pathan,YS Chahal,MK Pandey,0,1,1,wides,1,YK Pathan,stumped,KM Jadhav
144492,1082625,1,Gujarat Lions,Mumbai Indians,8,2,KD Karthik,KH Pandya,Ishan Kishan,0,1,1,wides,1,KD Karthik,stumped,PA Patel
147815,1082639,1,Kings XI Punjab,Kolkata Knight Riders,17,6,WP Saha,Kuldeep Yadav,AR Patel,0,1,1,wides,1,WP Saha,stumped,RV Uthappa
153403,1136573,2,Delhi Daredevils,Kolkata Knight Riders,0,6,JJ Roy,PP Chawla,G Gambhir,0,1,1,wides,1,JJ Roy,stumped,KD Karthik
153675,1136574,2,Royal Challengers Bangalore,Mumbai Indians,9,4,Mandeep Singh,KH Pandya,V Kohli,0,1,1,wides,1,Mandeep Singh,stumped,Ishan Kishan
159860,1136600,2,Kings XI Punjab,Rajasthan Royals,2,1,CH Gayle,K Gowtham,KL Rahul,0,1,1,wides,1,CH Gayle,stumped,JC Buttler
165867,1175360,2,Chennai Super Kings,Delhi Capitals,6,5,SR Watson,A Mishra,SK Raina,0,1,1,wides,1,SR Watson,stumped,RR Pant
178494,1181766,2,Delhi Capitals,Sunrisers Hyderabad,7,4,S Dhawan,DJ Hooda,PP Shaw,0,1,1,wides,1,S Dhawan,stumped,WP Saha
201184,1254089,1,Chennai Super Kings,Rajasthan Royals,14,4,MM Ali,R Tewatia,RD Gaikwad,0,1,1,wides,1,MM Ali,stumped,SV Samson
208092,1304047,1,Chennai Super Kings,Kolkata Knight Riders,7,6,RV Uthappa,CV Varun,AT Rayudu,0,1,1,wides,1,RV Uthappa,stumped,SP Jackson
210216,1304055,2,Mumbai Indians,Rajasthan Royals,18,9,KA Pollard,M Prasidh Krishna,M Ashwin,0,1,1,noballs,1,M Ashwin,run out,SV Samson
220309,1304097,1,Mumbai Indians,Gujarat Titans,18,3,Tilak Varma,LH Ferguson,TH David,0,1,1,noballs,1,Tilak Varma,run out,HH Pandya
224880,1304116,1,Sunrisers Hyderabad,Punjab Kings,19,6,R Shepherd,NT Ellis,B Kumar,0,1,1,noballs,1,B Kumar,run out,JM Sharma
225101,1312197,1,Rajasthan Royals,Gujarat Titans,19,6,JC Buttler,Yash Dayal,R Parag,1,1,2,noballs,1,JC Buttler,run out,WP Saha
225102,1312197,1,Rajasthan Royals,Gujarat Titans,19,7,R Ashwin,Yash Dayal,R Parag,0,1,1,wides,1,R Parag,run out,WP Saha
233329,1359505,1,Punjab Kings,Mumbai Indians,9,2,LS Livingstone,PP Chawla,Atharva Taide,0,1,1,wides,1,LS Livingstone,stumped,Ishan Kishan
233639,1359506,1,Royal Challengers Bangalore,Rajasthan Royals,19,1,PWH de Silva,Sandeep Sharma,KD Karthik,0,1,1,wides,1,PWH de Silva,run out,SV Samson
234879,1359511,1,Rajasthan Royals,Chennai Super Kings,19,4,D Padikkal,M Pathirana,Dhruv Jurel,0,1,1,wides,1,Dhruv Jurel,run out,MS Dhoni
236509,1359518,1,Delhi Capitals,Gujarat Titans,1,2,PK Garg,HH Pandya,DA Warner,0,1,1,noballs,1,DA Warner,run out,Rashid Khan
242686,1359544,1,Royal Challengers Bangalore,Gujarat Titans,9,3,MK Lomror,Noor Ahmad,V Kohli,0,1,1,wides,1,MK Lomror,stumped,WP Saha
243398,1370352,1,Gujarat Titans,Mumbai Indians,6,3,WP Saha,PP Chawla,Shubman Gill,0,1,1,wides,1,WP Saha,stumped,Ishan Kishan
249678,1426262,2,Gujarat Titans,Rajasthan Royals,15,3,Shubman Gill,YS Chahal,R Tewatia,0,1,1,wides,1,Shubman Gill,stumped,SV Samson
251484,1426270,1,Gujarat Titans,Delhi Capitals,8,5,M Shahrukh Khan,T Stubbs,R Tewatia,0,1,1,wides,1,M Shahrukh Khan,stumped,RR Pant
252273,1426273,2,Delhi Capitals,Sunrisers Hyderabad,8,5,Abishek Porel,M Markande,T Stubbs,0,1,1,wides,1,Abishek Porel,stumped,H Klaasen
260426,1426310,2,Rajasthan Royals,Royal Challengers Bengaluru,10,1,SV Samson,KV Sharma,R Parag,0,1,1,wides,1,SV Samson,stumped,KD Karthik

In [26]:
df           # Displaying the DataFrame

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [27]:
#Filling Missing Values
df.fillna(9)
# Temporarily replace missing values with 9

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,9,9,9
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,9,0,9,9,9
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,9,9,9
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,9,0,9,9,9
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,9,0,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,9,0,9,9,9
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,9,0,9,9,9
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,9,0,9,9,9
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,9,0,9,9,9
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,9,0,9,9,9

In [28]:
df['extras_type'] = df['extras_type'].fillna(0)
  # Fills missing values with 0 permanently
#permanently filling of null values with specified value

In [29]:
df                  # Displaying the DataFrame

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN

In [30]:
#Selecting Data using Indexing
#Integer-Based Indexing with iloc[]
#Select data by integer-based indexing
df.iloc[50000:55000]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
50000,501234,1,Kings XI Punjab,Kolkata Knight Riders,14,4,KD Karthik,Iqbal Abdulla,DJ Hussey,1,0,1,0,0,NaN,NaN,NaN
50001,501234,1,Kings XI Punjab,Kolkata Knight Riders,14,5,DJ Hussey,Iqbal Abdulla,KD Karthik,0,0,0,0,0,NaN,NaN,NaN
50002,501234,1,Kings XI Punjab,Kolkata Knight Riders,14,6,DJ Hussey,Iqbal Abdulla,KD Karthik,0,0,0,0,1,DJ Hussey,lbw,NaN
50003,501234,1,Kings XI Punjab,Kolkata Knight Riders,15,1,KD Karthik,R Bhatia,Bipul Sharma,0,0,0,0,0,NaN,NaN,NaN
50004,501234,1,Kings XI Punjab,Kolkata Knight Riders,15,2,KD Karthik,R Bhatia,Bipul Sharma,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,501255,2,Royal Challengers Bangalore,Kolkata Knight Riders,9,5,M Kaif,L Balaji,AB de Villiers,1,0,1,0,0,NaN,NaN,NaN
54996,501255,2,Royal Challengers Bangalore,Kolkata Knight Riders,9,6,AB de Villiers,L Balaji,M Kaif,0,0,0,0,0,NaN,NaN,NaN
54997,501255,2,Royal Challengers Bangalore,Kolkata Knight Riders,9,7,AB de Villiers,L Balaji,M Kaif,0,0,0,0,0,NaN,NaN,NaN
54998,501255,2,Royal Challengers Bangalore,Kolkata Knight Riders,10,1,M Kaif,JD Unadkat,AB de Villiers,0,0,0,0,0,NaN,NaN,NaN
54999,501255,2,Royal Challengers Bangalore,Kolkata Knight Riders,10,2,M Kaif,JD Unadkat,AB de Villiers,4,0,4,0,0,NaN,NaN,NaN

In [31]:
# Selecting a specific value (Row index 10, Column index 2)
df.iloc[10, 2]

'Kolkata Knight Riders'

In [32]:
# Selecting a range of rows (first 2 rows)
df.iloc[0:2]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN

In [33]:
# Selecting specific rows and columns
df.iloc[0:3, 1:3]

   inning           batting_team
0       1  Kolkata Knight Riders
1       1  Kolkata Knight Riders
2       1  Kolkata Knight Riders

In [34]:
#Label-Based Indexing with loc[]
# Selecting a row by label (index)
print(df.loc[60])

match_id                                 335982
inning                                        1
batting_team              Kolkata Knight Riders
bowling_team        Royal Challengers Bangalore
over                                          9
ball                                          5
batter                              BB McCullum
bowler                                 SB Joshi
non_striker                          RT Ponting
batsman_runs                                  6
extra_runs                                    0
total_runs                                    6
extras_type                                   0
is_wicket                                     0
player_dismissed                            NaN
dismissal_kind                              NaN
fielder                                     NaN
Name: 60, dtype: object

In [35]:
# Selecting multiple rows
df.loc[[0, 100, 200]]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
100,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,16,1,BB McCullum,Z Khan,DJ Hussey,1,0,1,0,0,NaN,NaN,NaN
200,335982,2,Royal Challengers Bangalore,Kolkata Knight Riders,11,4,Z Khan,SC Ganguly,P Kumar,1,0,1,0,0,NaN,NaN,NaN

In [36]:
# Selecting a specific column
print(df.loc[: "over"]) # All rows, only 'over' column

        match_id  inning           batting_team                 bowling_team  \
0         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
1         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
2         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
3         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
4         335982       1  Kolkata Knight Riders  Royal Challengers Bangalore
...          ...     ...                    ...                          ...
260915   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260916   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260917   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260918   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad
260919   1426312       2  Kolkata Knight Riders          Sunrisers Hyderabad

        over  ball       batter         bowler  non_striker  batsman_runs  \
0          0     1   SC Ganguly        P Kumar  BB McCullum             0
1          0     2  BB McCullum        P Kumar   SC Ganguly             0
2          0     3  BB McCullum        P Kumar   SC Ganguly             0
3          0     4  BB McCullum        P Kumar   SC Ganguly             0
4          0     5  BB McCullum        P Kumar   SC Ganguly             0
...      ...   ...          ...            ...          ...           ...
260915     9     5      SS Iyer     AK Markram      VR Iyer             1
260916     9     6      VR Iyer     AK Markram      SS Iyer             1
260917    10     1      VR Iyer  Shahbaz Ahmed      SS Iyer             1
260918    10     2      SS Iyer  Shahbaz Ahmed      VR Iyer             1
260919    10     3      VR Iyer  Shahbaz Ahmed      SS Iyer             1

        extra_runs  total_runs extras_type  is_wicket player_dismissed  \
0                1           1     legbyes          0              NaN
1                0           0           0          0              NaN
2                1           1       wides          0              NaN
3                0           0           0          0              NaN
4                0           0           0          0              NaN
...            ...         ...         ...        ...              ...
260915           0           1           0          0              NaN
260916           0           1           0          0              NaN
260917           0           1           0          0              NaN
260918           0           1           0          0              NaN
260919           0           1           0          0              NaN

       dismissal_kind fielder
0                 NaN     NaN
1                 NaN     NaN
2                 NaN     NaN
3                 NaN     NaN
4                 NaN     NaN
...               ...     ...
260915            NaN     NaN
260916            NaN     NaN
260917            NaN     NaN
260918            NaN     NaN
260919            NaN     NaN

[260920 rows x 17 columns]

In [37]:
# Selecting multiple columns
print(df.loc[:, ["non_striker", "dismissal_kind"]])   # All rows, only 'non_striker', 'dismissal_kind' columns

        non_striker dismissal_kind
0       BB McCullum            NaN
1        SC Ganguly            NaN
2        SC Ganguly            NaN
3        SC Ganguly            NaN
4        SC Ganguly            NaN
...             ...            ...
260915      VR Iyer            NaN
260916      SS Iyer            NaN
260917      SS Iyer            NaN
260918      VR Iyer            NaN
260919      SS Iyer            NaN

[260920 rows x 2 columns]

In [38]:
# Selecting a specific value (Row 2, Column 'City')
print(df.loc[2, "dismissal_kind"])

nan

In [39]:
#Filtering Data Using Conditions
# Filtering data using conditions
print(df.loc[df["batsman_runs"] == 9])

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batter, bowler, non_striker, batsman_runs, extra_runs, total_runs, extras_type, is_wicket, player_dismissed, dismissal_kind, fielder]
Index: []

In [40]:
#Handling Duplicates
#Checking for Duplicates
# Remove duplicate rows
print("\nDuplicate Rows:", df.duplicated().sum())

Duplicate Rows: 0

In [41]:
#Removing Duplicate Rows
df.drop_duplicates(inplace=True) # Remove duplicate rows permanently
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN

In [42]:
#Adding and Removing Columns
#Adding a New Column
df['new_column2']=df['batsman_runs']+df['extra_runs']
df

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,new_column2
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN,1
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN,0
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN,1
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN,0
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,NaN,NaN,NaN,1
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,NaN,NaN,NaN,1
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN,1
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,NaN,NaN,NaN,1
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN,1

In [43]:
#Dropping a Column
df = df.drop('new_column2', axis=1)
df
# Dropping a column named 'new_column'

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN

In [44]:
df   #Displaying DataFrame

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,0,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,0,0,NaN,NaN,NaN

In [45]:
# Sorting Data
#Sorting by a Column
# Sorting data by total_runs in descending order
df=df.sort_values(by='total_runs', ascending=False)
print("\nSorted Data by total_runs:")
df

Sorted Data by total_runs:

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
15389,392190,2,Kolkata Knight Riders,Rajasthan Royals,15,6,SC Ganguly,MM Patel,Yashpal Singh,6,1,7,noballs,0,NaN,NaN,NaN
180111,1216496,1,Rajasthan Royals,Chennai Super Kings,19,3,JC Archer,L Ngidi,TK Curran,6,1,7,noballs,0,NaN,NaN,NaN
66653,548341,2,Pune Warriors,Deccan Chargers,16,1,SPD Smith,J Theron,M Manhas,6,1,7,noballs,0,NaN,NaN,NaN
10814,336028,2,Mumbai Indians,Kings XI Punjab,19,1,SD Chitnis,VRV Singh,CRD Fernando,6,1,7,noballs,0,NaN,NaN,NaN
103698,734007,1,Sunrisers Hyderabad,Kings XI Punjab,18,4,NV Ojha,Sandeep Sharma,MC Henriques,6,1,7,noballs,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57468,501267,1,Kolkata Knight Riders,Mumbai Indians,15,5,YK Pathan,JEC Franklin,JH Kallis,0,0,0,0,0,NaN,NaN,NaN
57469,501267,1,Kolkata Knight Riders,Mumbai Indians,15,6,YK Pathan,JEC Franklin,JH Kallis,0,0,0,0,1,YK Pathan,caught,AN Ahmed
100026,733977,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,DA Warner,VR Aaron,S Dhawan,0,0,0,0,0,NaN,NaN,NaN
194187,1254060,1,Kolkata Knight Riders,Sunrisers Hyderabad,13,4,N Rana,Sandeep Sharma,RA Tripathi,0,0,0,0,0,NaN,NaN,NaN
60332,548313,2,Kings XI Punjab,Pune Warriors,1,4,AC Gilchrist,MN Samuels,PC Valthaty,0,0,0,0,0,NaN,NaN,NaN

In [46]:
#Grouping and Aggregation
#Grouping by 'ball' and Calculating Aggregations
# Grouping by 'ball' and calculating average 'over'
grouped_df = df.groupby('ball')['over'].mean()
print("Average over by ball:")
print(grouped_df)

Average over by ball:
ball
1      9.236674
2      9.216952
3      9.197776
4      9.178129
5      9.153214
6      9.127202
7      9.448688
8      9.919663
9     10.048889
10    11.100000
11    10.500000
Name: over, dtype: float64

In [47]:
# Grouping by 'ball' and calculating median 'over'
grouped_df = df.groupby('ball')['over'].median()
print("Median of over by ball:")
print(grouped_df)

Median of over by ball:
ball
1      9.0
2      9.0
3      9.0
4      9.0
5      9.0
6      9.0
7     10.0
8     10.0
9     11.0
10    13.0
11    10.5
Name: over, dtype: float64

In [48]:
# Grouping by 'ball' and calculating variance 'over'
grouped_df = df.groupby('ball')['over'].var()
print("Variance of over by ball:")
print(grouped_df)

Variance of over by ball:
ball
1      32.327694
2      32.233301
3      32.136332
4      32.035254
5      31.895832
6      31.753486
7      37.792093
8      41.495072
9      45.948492
10     45.610345
11    112.500000
Name: over, dtype: float64

In [49]:
# Grouping by 'ball' and calculating standard deviation 'over'
grouped_df = df.groupby('ball')['over'].std()
print("Standard Deviation of 'over' by ball:")
print(grouped_df)

Standard Deviation of 'over' by ball:
ball
1      5.685745
2      5.677438
3      5.668892
4      5.659969
5      5.647640
6      5.635023
7      6.147527
8      6.441667
9      6.778532
10     6.753543
11    10.606602
Name: over, dtype: float64

In [50]:
 #Renaming a Column
df = df.rename(columns={"batter": "batsman"})
# Renaming the column 'batter' to 'batsman' in the DataFrame
# The columns parameter is used to specify the old and new column names
# The change is temporary unless reassigned to df

In [51]:
df    # Displaying the DataFrame

,match_id,inning,batting_team,bowling_team,over,ball,batsman,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
15389,392190,2,Kolkata Knight Riders,Rajasthan Royals,15,6,SC Ganguly,MM Patel,Yashpal Singh,6,1,7,noballs,0,NaN,NaN,NaN
180111,1216496,1,Rajasthan Royals,Chennai Super Kings,19,3,JC Archer,L Ngidi,TK Curran,6,1,7,noballs,0,NaN,NaN,NaN
66653,548341,2,Pune Warriors,Deccan Chargers,16,1,SPD Smith,J Theron,M Manhas,6,1,7,noballs,0,NaN,NaN,NaN
10814,336028,2,Mumbai Indians,Kings XI Punjab,19,1,SD Chitnis,VRV Singh,CRD Fernando,6,1,7,noballs,0,NaN,NaN,NaN
103698,734007,1,Sunrisers Hyderabad,Kings XI Punjab,18,4,NV Ojha,Sandeep Sharma,MC Henriques,6,1,7,noballs,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57468,501267,1,Kolkata Knight Riders,Mumbai Indians,15,5,YK Pathan,JEC Franklin,JH Kallis,0,0,0,0,0,NaN,NaN,NaN
57469,501267,1,Kolkata Knight Riders,Mumbai Indians,15,6,YK Pathan,JEC Franklin,JH Kallis,0,0,0,0,1,YK Pathan,caught,AN Ahmed
100026,733977,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,DA Warner,VR Aaron,S Dhawan,0,0,0,0,0,NaN,NaN,NaN
194187,1254060,1,Kolkata Knight Riders,Sunrisers Hyderabad,13,4,N Rana,Sandeep Sharma,RA Tripathi,0,0,0,0,0,NaN,NaN,NaN
60332,548313,2,Kings XI Punjab,Pune Warriors,1,4,AC Gilchrist,MN Samuels,PC Valthaty,0,0,0,0,0,NaN,NaN,NaN

In [52]:
#Resetting and Setting Index
#Setting a Multi-Level Index
df = df.set_index(["match_id", "bowler"])
# Setting 'match_id' and 'bowler' as the new multi-level index of the DataFrame
# This organizes data hierarchically, allowing for better grouping and analysis
# The change is temporary unless reassigned to df

In [53]:
df          # Displaying the DataFrame

                         inning           batting_team  \
match_id bowler
392190   MM Patel             2  Kolkata Knight Riders
1216496  L Ngidi              1       Rajasthan Royals
548341   J Theron             2          Pune Warriors
336028   VRV Singh            2         Mumbai Indians
734007   Sandeep Sharma       1    Sunrisers Hyderabad
...                         ...                    ...
501267   JEC Franklin         1  Kolkata Knight Riders
         JEC Franklin         1  Kolkata Knight Riders
733977   VR Aaron             1    Sunrisers Hyderabad
1254060  Sandeep Sharma       1  Kolkata Knight Riders
548313   MN Samuels           2        Kings XI Punjab

                                        bowling_team  over  ball  \
match_id bowler
392190   MM Patel                   Rajasthan Royals    15     6
1216496  L Ngidi                 Chennai Super Kings    19     3
548341   J Theron                    Deccan Chargers    16     1
336028   VRV Singh                   Kings XI Punjab    19     1
734007   Sandeep Sharma              Kings XI Punjab    18     4
...                                              ...   ...   ...
501267   JEC Franklin                 Mumbai Indians    15     5
         JEC Franklin                 Mumbai Indians    15     6
733977   VR Aaron        Royal Challengers Bangalore     4     6
1254060  Sandeep Sharma          Sunrisers Hyderabad    13     4
548313   MN Samuels                    Pune Warriors     1     4

                              batsman    non_striker  batsman_runs  \
match_id bowler
392190   MM Patel          SC Ganguly  Yashpal Singh             6
1216496  L Ngidi            JC Archer      TK Curran             6
548341   J Theron           SPD Smith       M Manhas             6
336028   VRV Singh         SD Chitnis   CRD Fernando             6
734007   Sandeep Sharma       NV Ojha   MC Henriques             6
...                               ...            ...           ...
501267   JEC Franklin       YK Pathan      JH Kallis             0
         JEC Franklin       YK Pathan      JH Kallis             0
733977   VR Aaron           DA Warner       S Dhawan             0
1254060  Sandeep Sharma        N Rana    RA Tripathi             0
548313   MN Samuels      AC Gilchrist    PC Valthaty             0

                         extra_runs  total_runs extras_type  is_wicket  \
match_id bowler
392190   MM Patel                 1           7     noballs          0
1216496  L Ngidi                  1           7     noballs          0
548341   J Theron                 1           7     noballs          0
336028   VRV Singh                1           7     noballs          0
734007   Sandeep Sharma           1           7     noballs          0
...                             ...         ...         ...        ...
501267   JEC Franklin             0           0           0          0
         JEC Franklin             0           0           0          1
733977   VR Aaron                 0           0           0          0
1254060  Sandeep Sharma           0           0           0          0
548313   MN Samuels               0           0           0          0

                        player_dismissed dismissal_kind   fielder
match_id bowler
392190   MM Patel                    NaN            NaN       NaN
1216496  L Ngidi                     NaN            NaN       NaN
548341   J Theron                    NaN            NaN       NaN
336028   VRV Singh                   NaN            NaN       NaN
734007   Sandeep Sharma              NaN            NaN       NaN
...                                  ...            ...       ...
501267   JEC Franklin                NaN            NaN       NaN
         JEC Franklin          YK Pathan         caught  AN Ahmed
733977   VR Aaron                    NaN            NaN       NaN
1254060  Sandeep Sharma              NaN            NaN       NaN
548313   MN Samuels                  NaN            NaN       NaN

[260920 rows x 15 columns]

In [54]:
#Resetting the Index
df = df.reset_index()
# Resetting the index of the DataFrame, converting multi-level indices back into columns
# This restores 'match_id' and 'bowler' as regular columns if they were previously set as an index
# The change is temporary unless reassigned to df
df         # Displaying the DataFrame

,match_id,bowler,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,392190,MM Patel,2,Kolkata Knight Riders,Rajasthan Royals,15,6,SC Ganguly,Yashpal Singh,6,1,7,noballs,0,NaN,NaN,NaN
1,1216496,L Ngidi,1,Rajasthan Royals,Chennai Super Kings,19,3,JC Archer,TK Curran,6,1,7,noballs,0,NaN,NaN,NaN
2,548341,J Theron,2,Pune Warriors,Deccan Chargers,16,1,SPD Smith,M Manhas,6,1,7,noballs,0,NaN,NaN,NaN
3,336028,VRV Singh,2,Mumbai Indians,Kings XI Punjab,19,1,SD Chitnis,CRD Fernando,6,1,7,noballs,0,NaN,NaN,NaN
4,734007,Sandeep Sharma,1,Sunrisers Hyderabad,Kings XI Punjab,18,4,NV Ojha,MC Henriques,6,1,7,noballs,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,501267,JEC Franklin,1,Kolkata Knight Riders,Mumbai Indians,15,5,YK Pathan,JH Kallis,0,0,0,0,0,NaN,NaN,NaN
260916,501267,JEC Franklin,1,Kolkata Knight Riders,Mumbai Indians,15,6,YK Pathan,JH Kallis,0,0,0,0,1,YK Pathan,caught,AN Ahmed
260917,733977,VR Aaron,1,Sunrisers Hyderabad,Royal Challengers Bangalore,4,6,DA Warner,S Dhawan,0,0,0,0,0,NaN,NaN,NaN
260918,1254060,Sandeep Sharma,1,Kolkata Knight Riders,Sunrisers Hyderabad,13,4,N Rana,RA Tripathi,0,0,0,0,0,NaN,NaN,NaN
260919,548313,MN Samuels,2,Kings XI Punjab,Pune Warriors,1,4,AC Gilchrist,PC Valthaty,0,0,0,0,0,NaN,NaN,NaN

In [56]:
#Get the dimensions of the DataFrame
df.shape

(260920, 17)